p{
    text-align: justify;
    font-size: 18px;
}
#titulos{
    text-align: center;
    font-family: cursive;
}
main{
    display: inline-block;
    width: 50%;
    padding-bottom: 6px;
    float:right;
}

#img{
    display: inline-block;
    width: 20%;
    float: left;
}