#img{
    display: inline-block;
    width: 20%;
    float: left;
}
p{
    display: inline-block;
    width: 30%;
    float: right;
    font-size: 20;
}
h2{
    text-align: center;
    font-family: cursive;
}